{% extends "base.html" %}
{% load static %}

{% block title %}
    Добавить вопросы
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/test_passing.css' %}">
{% endblock css %}

{% block cont %}
    <div class="test-container">
        <h1>Добавить вопросы к тесту: {{ test.title }}</h1>
        
        <!-- Форма для добавления вопросов -->
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}  <!-- Форма для управления набором форм -->

            {% for form in formset %}
                <div class="question-block">
                    <h3>Вопрос {{ forloop.counter }}</h3>
                    {{ form.as_p }}  <!-- Отображение полей формы -->
                    
                    
                
                    <!-- Выводим ответы, если вопрос уже создан -->
                    {% if form.instance.id %}
                        <h4>Ответы:</h4>
                        <ul class="answer-list">
                            {% for answer in form.instance.answer_set.all %}
                                <li>
                                    {{ answer.text }} {% if answer.correctness_of_answer %} (Правильный ответ) {% endif %}
                                </li>
                            {% empty %}
                                <li>Нет ответов для этого вопроса.</li>
                            {% endfor %}
                        </ul>

                        <!-- Ссылка для добавления ответов -->
                        <a class="btn" href="{% url 'test_passing:create_answer' question_id=form.instance.id %}">Добавить ответы</a>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn">Сохранить вопросы</button>
                <a class="btn" href="{% url 'test_passing:edit_test' test.pk %}">Вернуться к редактированию данных теста</a>
            </div>
        </form>
    </div>
{% endblock cont %}
