
{% extends "base.html" %}

{% block title %}
    Добавить ответы
{% endblock title %}

{% block cont %}
    <h1>Добавить ответы для вопроса: {{ question.text }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}  <!-- Отображаем формы для ответов -->

        {% for form in formset %}
            <div class="answer-form">
                <h3>Ответ {{ forloop.counter }}</h3>
                {{ form.as_p }}  <!-- Отображение полей для ответа: текст ответа и правильность -->
            </div>
        {% endfor %}
        
        <button type="submit">Сохранить ответы</button>
    </form>

    <!-- Ссылка для добавления еще одного ответа -->
    <hr>
    <a href="{% url 'test_passing:create_answer' question_id=question.id %}">Добавить еще один ответ</a>
    <a href="{% url 'test_passing:create_question' test_id=question.test.id %}">Завершить создание ответов и перейти к вопросам (не забудьте сохранить)</a>
{% endblock cont %}


