
{% extends "base.html" %}
{% load static %}
{% block title %}
    Добавить ответы
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'deps/css/test_passing.css' %}?v={{ timestamp }}">    
{% endblock css %}


{% block cont %}
    <div class="test-container">
        <h1>Добавить ответы для вопроса: {{ question.text }}</h1>

        <form method="post" class="test-form">
            {% csrf_token %}
            {{ formset.management_form }} <!-- Отображаем формы для ответов -->

            {% for form in formset %}
                <div class="answer-form">
                    <h3>Ответ {{ forloop.counter }}</h3>
                    {{ form.as_p }} <!-- Отображение полей для ответа: текст ответа и правильность -->
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Сохранить ответы</button>
        </form>

        <hr>

        <!-- Ссылка для добавления еще одного ответа -->
        <div class="link-actions">
            <a href="{% url 'test_passing:create_answer' question_id=question.id %}" class="btn btn-primary">
                Добавить еще один ответ
            </a>
            <a href="{% url 'test_passing:create_question' test_id=question.test.id %}" class="btn btn-secondary">
                Завершить создание ответов и перейти к вопросам (не забудьте сохранить)
            </a>
        </div>
    </div>
{% endblock cont %}
