<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты теста</title>
</head>
<body>
    <h1>Результаты теста: {{ test.title }}</h1>
    <p>Вы набрали {{ points }} из {{ max_points }} баллов.</p>

    {% if points == max_points %}
        <p>Поздравляем! Вы ответили на все вопросы правильно.</p>
    {% elif points > 0 %}
        <p>Хороший результат! Попробуйте улучшить свои знания.</p>
    {% else %}
        <p>В этот раз не повезло. Попробуйте снова!</p>
    {% endif %}

    <a href="{% url 'users:profile' %}">Вернуться на главную</a>
</body>
</html>
