{% extends "base.html" %}

{% block title %}
    Детали теста: {{ test.title }}
{% endblock title %}

{% block cont %}
    <h1>{{ test.title }}</h1>
    <p><strong>Описание:</strong> {{ test.description }}</p>
    <p><strong>Время выполнения:</strong> {{ test.time_of_execute }}</p>
    <p><strong>Дата создания:</strong> {{ test.date_of_creation }}</p>
    <p><strong>Предметная область:</strong> {{ test.subject_area }}</p>
    <p><strong>Учитель:</strong> {{ test.teacher }}</p>

    {% if request.user.is_authenticated and test.teacher == request.user.teacher %}
        <a href="{% url 'test_passing:edit_test' test.pk %}" class="btn btn-primary">Редактировать тест</a>
    {% endif %}
{% endblock cont %}
