{% extends 'base.html' %}

{% block title %}
    Результаты теста
{% endblock title %}

{% block cont %}
    <h1>Результаты теста: {{ test.title }}</h1>
    <p>Вы набрали {{ points }} из {{ max_points }} баллов.</p>

    {% if points == max_points %}
        <p>Поздравляем! Вы ответили на все вопросы правильно.</p>
    {% elif points > 0 %}
        <p>Хороший результат! Попробуйте улучшить свои знания.</p>
    {% else %}
        <p>В этот раз не повезло. Попробуйте снова!</p>
    {% endif %}

    <a href="{% url 'users:profile' %}">Вернуться на главную</a>
{% endblock cont %}

