{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Форма авторизации</title>
{% endblock %}
 

{% block css %}

    
    <link rel="stylesheet" href="{% static "deps/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/login_form.css" %}">
    

{% endblock %}


{% block header %}
<header>
    <h2>Авторизация</h2>
</header>
{% endblock %}      

{% block cont %}

<form action="{% url "users:login"%}" method="post" class="login-form">

   {% csrf_token %}
    
    <div>
        <label for="id_username">Имя пользователя</label>
        <input type="text"  value="{{form.username.value}}" name="username" class="form-control" id="id_username" placeholder="Введите ваш e-mail">
    </div>
    <div>
        <label for="id_password">Пароль</label>
        <input type="password" class="form-control"  name="password" id="id_password" placeholder="Введите ваш пароль">
    </div>
    {% if form.non_field_errors %}
    <p>Имя пользователя или пароль введены неверно</p>
    {% endif %}



    <!-- <div>
        <label for="{{ form.username.if_for_label}}">Имя пользователя (E-mail)</label>
        {{form.username}}
    </div>

    <div>
        <label for="{{ form.password.if_for_label}}">Пароль</label>
        {{form.password}}
    </div> -->



    
    
    <button type="submit" class="btn-submit">Войти</button>
</form>
<div class="links">
    
    <a href="{% url "users:registration"%}">Создать аккаунт</a>
</div>
</div>

{% endblock %}


