{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация студента</title>
    <link rel="stylesheet" href="{% static "deps/css/registr.css" %}"> 
</head>
<body>

<div class="registration-container">
    <h2>Регистрация студента</h2>
    <form action="/register" method="POST"> <!-- Укажите правильный путь для обработки формы -->
        <div class="form-group">
            <label for="fullname">ФИО</label>
            <input type="text" id="fullname" name="fullname" maxlength="100" required>
        </div>
        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" maxlength="100" required>
        </div>
        <div class="form-group">
            <label for="phone">Номер телефона</label>
            <input type="tel" id="phone" name="phone" maxlength="15" required pattern="[0-9]{10,15}">
        </div>
        <div class="form-group">
            <label for="group">Номер группы</label>
            <input type="text" id="group" name="group" maxlength="20" required>
        </div>
        <div class="form-group">
            <label for="specialty">Направление подготовки</label>
            <select id="specialty" name="specialty" required>
                <option value="">Выберите направление</option>
                <option value="Программная инженерия">Программная инженерия</option>
                <option value="Информационные системы и технологии">Информационные системы и технологии</option>
                <option value="Математика и компьютерные науки">Математика и компьютерные науки</option>
                <option value="Компьютерная безопасность">Компьютерная безопасность</option>
                <option value="Информационная безопасность">Информационная безопасность</option>
                <option value="Прикладная информатика">Прикладная информатика</option>
            </select>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="links">
        <a href="{% url "users:login" %}">Уже есть аккаунт? Войти</a>
    </div>
</div>

</body>
</html>
