

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}

    {% endblock title %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'deps/css/styles.css' %}">
    {% block css %}

    {% endblock css %}
    
</head>
<body>

{% block header %}

{% endblock header %}    




<nav>
    <div class="topnav">
        <div class="topnav-centered">
          <a href="{% url "main:index" %}" class="active" >Главная</a>
        </div>
        
        <!-- Ссылки, выровненные по левому краю (по умолчанию) -->
        <a href="{% url "users:login" %}">Вход</a>
        <a href="{% url "admin:index" %}">Администрирование</a>
        <a href="{% url "users:profile" %}">Мой профиль</a>
        
        <!-- Ссылки, выровненные по правому краю -->
        <div class="topnav-right">
          <a href="#">О ВГУ</a>
        </div>
        
      </div>
</nav>



{% block cont %}

{% endblock cont %}

</body>
</html>
